In [42]:
import numpy as np
import pandas as pd

In [43]:
census_extension = pd.read_csv("/Users/ajordan/OneDrive - McGill University/LTBI-Aust-CEA-master/Census/Census 2011/3census_data_clean.csv")
print(census_extension)

        Unnamed: 0  AGEP  AGE_GROUP    YARP       COO  census_year  YOBP  \
0                1     0          1  1991.0  Americas         2011  2011
1                2     0          1  1992.0  Americas         2011  2011
2                3     0          1  1993.0  Americas         2011  2011
3                4     0          1  1994.0  Americas         2011  2011
4                5     0          1  1995.0  Americas         2011  2011
...            ...   ...        ...     ...       ...          ...   ...
721596      721597    85          5  2002.0     Other         2011  1926
721597      721598    85          5  2003.0     Other         2011  1926
721598      721599    85          5  2004.0     Other         2011  1926
721599      721600    85          5  2005.0     Other         2011  1926
721600      721601    85          5  2006.0     Other         2011  1926

        YARP_group       NUMP
0              4.0  42.166667
1              4.0  42.166667
2              4.0  42.166667
3              4.0  42.166667
4              4.0  42.166667
...            ...        ...
721596         5.0   0.000000
721597         5.0   0.000000
721598         5.0   0.000000
721599         5.0   0.000000
721600         5.0   0.000000

[721601 rows x 9 columns]

In [44]:
#census_post1970 = census_extension%>%filter(YARP != 1970)
census_post1970 = census_extension[(census_extension.YARP != 1970)]

print(census_post1970)

        Unnamed: 0  AGEP  AGE_GROUP    YARP       COO  census_year  YOBP  \
0                1     0          1  1991.0  Americas         2011  2011
1                2     0          1  1992.0  Americas         2011  2011
2                3     0          1  1993.0  Americas         2011  2011
3                4     0          1  1994.0  Americas         2011  2011
4                5     0          1  1995.0  Americas         2011  2011
...            ...   ...        ...     ...       ...          ...   ...
721596      721597    85          5  2002.0     Other         2011  1926
721597      721598    85          5  2003.0     Other         2011  1926
721598      721599    85          5  2004.0     Other         2011  1926
721599      721600    85          5  2005.0     Other         2011  1926
721600      721601    85          5  2006.0     Other         2011  1926

        YARP_group       NUMP
0              4.0  42.166667
1              4.0  42.166667
2              4.0  42.166667
3              4.0  42.166667
4              4.0  42.166667
...            ...        ...
721596         5.0   0.000000
721597         5.0   0.000000
721598         5.0   0.000000
721599         5.0   0.000000
721600         5.0   0.000000

[707388 rows x 9 columns]

In [45]:
#census_1970 = census_extension%>%filter(YARP == 1970)
census_1970 = census_extension[(census_extension.YARP == 1970)]

In [46]:
#census_1970$ID<-seq(1:nrow(census_1970))



x = list(range(1,len(census_1970)+1))
(census_1970.insert(loc = 2, column = 'ID', value = x, allow_duplicates = False))

In [47]:
census_1970

,Unnamed: 0,AGEP,ID,AGE_GROUP,YARP,COO,census_year,YOBP,YARP_group,NUMP
625,626,25,1,3,1970.0,Americas,2011,1986,1.0,941.166667
626,627,26,2,3,1970.0,Americas,2011,1985,1.0,941.166667
627,628,27,3,3,1970.0,Americas,2011,1984,1.0,941.166667
628,629,28,4,3,1970.0,Americas,2011,1983,1.0,941.166667
629,630,29,5,3,1970.0,Americas,2011,1982,1.0,941.166667
...,...,...,...,...,...,...,...,...,...,...
720735,720736,81,14209,5,1970.0,Other,2011,1930,1.0,0.000000
720736,720737,82,14210,5,1970.0,Other,2011,1929,1.0,0.000000
720737,720738,83,14211,5,1970.0,Other,2011,1928,1.0,0.000000
720738,720739,84,14212,5,1970.0,Other,2011,1927,1.0,0.000000
720739,720740,85,14213,5,1970.0,Other,2011,1926,1.0,0.000000

In [48]:
#census_1970$YARPv2<-census_1970$YARP-census_1970$YOBP

census_1970 = census_1970.assign(YARPv2 = lambda y: y['YARP'] - y['YOBP'])
census_1970 = census_1970[(census_1970.YARPv2 >= 0)]
census_1970

,Unnamed: 0,AGEP,ID,AGE_GROUP,YARP,COO,census_year,YOBP,YARP_group,NUMP,YARPv2
641,642,41,17,3,1970.0,Americas,2011,1970,1.0,941.166667,0.0
642,643,42,18,3,1970.0,Americas,2011,1969,1.0,941.166667,1.0
643,644,43,19,3,1970.0,Americas,2011,1968,1.0,941.166667,2.0
644,645,44,20,3,1970.0,Americas,2011,1967,1.0,941.166667,3.0
645,646,45,21,3,1970.0,Americas,2011,1966,1.0,941.166667,4.0
...,...,...,...,...,...,...,...,...,...,...,...
720735,720736,81,14209,5,1970.0,Other,2011,1930,1.0,0.000000,40.0
720736,720737,82,14210,5,1970.0,Other,2011,1929,1.0,0.000000,41.0
720737,720738,83,14211,5,1970.0,Other,2011,1928,1.0,0.000000,42.0
720738,720739,84,14212,5,1970.0,Other,2011,1927,1.0,0.000000,43.0
720739,720740,85,14213,5,1970.0,Other,2011,1926,1.0,0.000000,44.0

In [49]:
# Replicate rows while simultaneously creating new YARPS
# Should produce NA's that will be filled in later
# Slight change to this. AGE_GROUPS got injected a little differently this time so had to change from [h,3] to [h,4]
#in order to make sure that YARP column was correctly indexed. k <- as.numeric changed from [i,10] to [i,11] 
#so that YARPv2 would be indexed. ID=unlist(census_1970t[h,9] changed to [h,10] so that ID column would be indexed

#for (i in 1:nrow(census_1970)){
 # k<-as.numeric(census_1970[i,11])
 # h<-as.numeric(i)
 # for (i in 1:k){
  #    census_1970<-add_row(census_1970, ID=unlist(census_1970[h,10]), YARP=unlist(census_1970[h,4])-(1*i))
  #}
#}

#pd.concat
#test = {"Unnamed: 0": None,"AGEP":None, "ID":[census_1970.iloc[[1],[2]]], "AGE_GROUP": None, 'YARP':[(census_1970.iloc[[1],[4]]-(1*i))], "COO": None, 'census_year': 2011, 'YOBP': None, 'YARP_group': None, 'NUMP': None, 'YARPv2': None}

new_df = pd.DataFrame()
for i in range(0,len(census_1970.index)):
    k = int(census_1970.iloc[i]["YARPv2"])
    h = i
    for j in range(0,k):
        new_df = pd.DataFrame({"Unnamed: 0": None,"AGEP": None, "ID": int(census_1970.iloc[h]["ID"]), "AGE_GROUP": None, 'YARP': [(int(census_1970.iloc[h]["YARP"]-(1*j)))], "COO": None, 'census_year':[2011], 'YOBP': None, 'YARP_group': None, 'NUMP': None, 'YARPv2': None})
        census_1970 = census_1970.append(new_df)
print(census_1970)

    Unnamed: 0  AGEP     ID AGE_GROUP    YARP       COO  census_year  YOBP  \
641        642    41     17         3  1970.0  Americas         2011  1970
642        643    42     18         3  1970.0  Americas         2011  1969
643        644    43     19         3  1970.0  Americas         2011  1968
644        645    44     20         3  1970.0  Americas         2011  1967
645        646    45     21         3  1970.0  Americas         2011  1966
..         ...   ...    ...       ...     ...       ...          ...   ...
0         None  None  14213      None   -34.0      None         2011  None
0         None  None  14213      None   -35.0      None         2011  None
0         None  None  14213      None   -36.0      None         2011  None
0         None  None  14213      None   -37.0      None         2011  None
0         None  None  14213      None   -38.0      None         2011  None

     YARP_group        NUMP  YARPv2
641         1.0  941.166667     0.0
642         1.0  941.166667     1.0
643         1.0  941.166667     2.0
644         1.0  941.166667     3.0
645         1.0  941.166667     4.0
..          ...         ...     ...
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN

[241155 rows x 11 columns]

In [39]:
#new_df[:2] = pd.DataFrame({"Unnamed: 0": None,"AGEP": None, "ID": None, "AGE_GROUP": None, 'YARP': None, "COO": None, 'census_year':[2011], 'YOBP': None, 'YARP_group': None, 'NUMP': None, 'YARPv2': None})
#census_1970 = census_1970.append(new_df[:2])
#census_1970

census_1970.iloc[2]["YARPv2"]
print(census_1970)

    Unnamed: 0  AGEP    ID AGE_GROUP    YARP       COO  census_year  YOBP  \
641        642    41    17         3  1970.0  Americas         2011  1970
642        643    42    18         3  1970.0  Americas         2011  1969
643        644    43    19         3  1970.0  Americas         2011  1968
644        645    44    20         3  1970.0  Americas         2011  1967
645        646    45    21         3  1970.0  Americas         2011  1966
..         ...   ...   ...       ...     ...       ...          ...   ...
0         None  None  None      None     NaN      None         2011  None
0         None  None  None      None     NaN      None         2011  None
0         None  None  None      None     NaN      None         2011  None
0         None  None  None      None     NaN      None         2011  None
0         None  None  None      None     NaN      None         2011  None

     YARP_group        NUMP  YARPv2
641         1.0  941.166667     0.0
642         1.0  941.166667     1.0
643         1.0  941.166667     2.0
644         1.0  941.166667     3.0
645         1.0  941.166667     4.0
..          ...         ...     ...
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN
0           NaN         NaN     NaN

[241155 rows x 11 columns]

##